@charset "utf-8";
.compare-box {
  background: #FFFFFF;
  padding: 20px 0 0 0;
}
.compare-box .center-box-c .compare-table {
  width: 1180px;
}
.compare-box .center-box-c .compare-table tbody {
  height: 1944px;
  width: 1180px;
}
.compare-box .center-box-c .compare-table tbody tr {
  width: 1190px;
  height: 28px;
  text-align: center;
  font-size: 12px;
  line-height: 28px;
}
.compare-box .center-box-c .compare-table tbody tr td {
  width: 501.6px;
  height: 28px;
  border: 1px solid #e6e7e8;
}
.compare-box .center-box-c .compare-table tbody tr td:nth-of-type(1) {
  width: 117.6px;
  height: 28px;
}
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) {
  width: 117.6px;
  height: 264px;
}
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) td {
  width: 501.6px;
  height: 28px;
}
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) td:nth-of-type(1) {
  width: 117.6px;
  height: 264px;
}
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) td:nth-of-type(2) > div img,
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) td:nth-of-type(3) > div img {
  height: 180px;
  width: 130px;
}
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) td:nth-of-type(2) > div span:nth-of-type(1),
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) td:nth-of-type(3) > div span:nth-of-type(1) {
  background: red;
  color: #FFFFFF;
  color: 12px;
  height: 21px;
  width: 89px;
  border-radius: 10px;
  line-height: 21px;
}
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) td:nth-of-type(2) > div span:nth-of-type(2),
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(1) td:nth-of-type(3) > div span:nth-of-type(2) {
  background: blue;
  color: #FFFFFF;
  color: 12px;
  height: 21px;
  width: 89px;
  border-radius: 10px;
  line-height: 21px;
}
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(2) td:nth-of-type(2),
.compare-box .center-box-c .compare-table tbody tr:nth-of-type(2) td:nth-of-type(3) {
  color: red;
}
