@charset "utf-8";
.gouwuche-che {
  background: #FFFFFF;
}
.gouwuche-che .gouwuche-box {
  padding-top: 40px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .no-gouwche {
  width: 790px;
  height: 126px;
  padding: 0 0 0 300px;
  overflow: hidden;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .no-gouwche > div:nth-of-type(1) {
  width: 100px;
  height: 100px;
  float: left;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .no-gouwche div:nth-of-type(2) {
  width: 355px;
  padding: 0 0 0 10px;
  float: left;
  font-size: 12px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .no-gouwche div:nth-of-type(2) h2 {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .no-gouwche div:nth-of-type(2) p {
  margin: 10px 0 ;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche {
  width: 1190px ;
  /* 支付方式 */
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp {
  width: 1000px;
  height: 95px;
  overflow: hidden;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp a {
  float: left;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp > span {
  float: left;
  font-size: 20px;
  margin-left: 20px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp > div {
  float: left;
  overflow: hidden;
  padding: 0 0 0 100px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp > div > div {
  height: 30px;
  width: 200px;
  float: left;
  background: #23519e;
  text-align: center;
  line-height: 30px;
  color: #FFFFFF;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp > div > div:nth-of-type(2),
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp > div > div:nth-of-type(3) {
  background: #a7b0b5;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp > div span {
  float: left;
  display: inline-block;
  width: 20px;
  height: 30px;
  background: url(http://cdn09.ehaier.com/sg2019/v5/images/pco/cartsp.png) no-repeat 0 -368px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .logo-shangp > div span:nth-of-type(2) {
  background: url(http://cdn09.ehaier.com/sg2019/v5/images/pco/cartsp.png) no-repeat 0 -403px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .tisdenglv {
  width: 1000px;
  height: 50px;
  background: #f5faff;
  border: 1px #24bdff solid;
  overflow: hidden;
  padding: 0 30px 0 0 ;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .tisdenglv > span:nth-of-type(1) {
  width: 60px;
  height: 48px;
  float: left;
  background: url(../img/jingao.png);
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .tisdenglv > span:nth-of-type(2) {
  float: left;
  font-size: 12px;
  line-height: 50px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .tisdenglv > span:nth-of-type(3) {
  float: left;
  width: 72px;
  height: 25px;
  background: #005aa9;
  padding: 4px 12px 5px;
  font-size: 12px;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 8px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .tisdenglv > span:nth-of-type(4) {
  float: right;
  background: #FFFFFF;
  border: 1px solid #000000;
  padding: 0 15px;
  font-size: 12px;
  margin-top: 10px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .tisdenglv > span:nth-of-type(5) {
  float: right;
  font-size: 12px;
  margin-top: 10px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq {
  width: 1000px;
  margin-top: 40px;
  border: 1px solid #e2e2e2;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq > ul {
  background: #f5f5f5;
  color: #909090;
  overflow: hidden;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq > ul li {
  display: block;
  font-size: 12px;
  float: left;
  text-align: right;
  height: 40px;
  line-height: 40px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang {
  background: #eaf9ff;
  width: 998px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div {
  padding: 20px 0 0 52px;
  border-top: 1px solid #e2e2e2;
  height: 120px;
  overflow: hidden;
  width: 998px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div input {
  float: left;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div img {
  width: 80px;
  height: 80px;
  float: left;
  margin-left: 24px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div a {
  margin-left: 8px;
  float: left;
  width: 175px;
  height: 31px;
  font-size: 12px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div p {
  width: 108px;
  font-size: 12px;
  text-align: center;
  float: left;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div p:nth-of-type(2) {
  padding: 0 0 0 10px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div p:nth-of-type(3),
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div p:nth-of-type(4) {
  text-align: left;
  padding: 0 0 0 10px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div p:nth-of-type(5) {
  width: 100px;
  float: left;
  text-align: left;
  padding: 0 0 0 10px;
  cursor: pointer;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div div {
  float: left;
  width: 108px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div div span {
  width: 22px;
  height: 22px;
  float: left;
  background: #fef5f9;
  border: 1px #ffe0c6 solid;
  text-align: center;
  cursor: default;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div div input {
  font-size: 12px;
  text-align: center;
  border: 1px #ffe0c6 solid;
  border-left: none;
  border-right: none;
  float: left;
  width: 42px;
  height: 22px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .zongshang > div div div {
  width: 86px;
  height: 23px;
  font-size: 12px;
  color: #D71249;
  background: #fef5f9;
  text-align: center;
  padding: 3px 0 0 2px;
  line-height: 23px;
  box-sizing: border-box;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .gouwc-dibu {
  width: 998px;
  height: 40px;
  background: #f5f5f5;
  padding: 0 20px 0 0 ;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .gouwc-dibu div {
  margin-top: 15px;
  float: right;
  font-size: 12px;
  width: 395px;
  height: 40px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .spxq .gouwc-dibu div span {
  color: #D71249;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .qujieshuan {
  margin-top: 40px;
  background: #f5f5f5;
  width: 998px;
  height: 50px;
  overflow: hidden;
  padding: 0 0 0 10px;
  color: #909090;
  margin-bottom: 0px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .qujieshuan .left {
  margin-top: 10px;
  font-size: 12px;
  float: left;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .qujieshuan .left span {
  margin-right: 30px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .qujieshuan .rigth {
  line-height: 50px;
  float: right;
  width: 330px;
  height: 50px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .qujieshuan .rigth span {
  color: #D71249;
  font-weight: 700;
  font-size: 20px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zhonggongg .qujieshuan .rigth a {
  float: right;
  color: #FFFFFF;
  background: #D71249;
  width: 134px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  border-radius: 8px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi {
  width: 1000px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .top-xia {
  padding: 0 20px;
  overflow: hidden;
  font-size: 12px;
  height: 43px;
  line-height: 43px;
  border-bottom: 1px solid #e2e2e2;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .top-xia span {
  float: left;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .top-xia a {
  float: right;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .dizhi-add {
  width: 1000px;
  height: 135px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .dizhi-add span:nth-of-type(1) {
  display: inline-block;
  width: 64px ;
  height: 64px;
  background: ;
  font-size: 30px;
  border: 1px #e8e8e8 solid;
  text-align: center;
  line-height: 64px;
  color: #e8e8e8 ;
  margin-top: 10px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .dizhi-add span:nth-of-type(2) {
  color: #b7b7b7 ;
  font-size: 12px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .add-dizhi {
  width: 227px;
  height: 97px;
  background: url(../img/xbtd.jpg) -1px -453px;
  padding: 2px 0 0 0;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .add-dizhi p {
  padding: 6px;
  width: 224px;
  height: 91px;
  background: #FFFFFF;
  margin-left: 2px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .heduixingxi .add-dizhi p span {
  font-size: 12px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijchengg {
  width: 1000px;
  height: 185px;
  padding: 10px;
  background: #F4F5F7;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijchengg > p {
  padding: 0 0 0 50px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijchengg > p:nth-of-type(1) {
  color: #00904c;
  font-size: 24px;
  height: 46px;
  padding: 8px 0 5px 50px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijchengg > div:nth-of-type(1) {
  width: 978px;
  height: 75px;
  margin-top: 20px;
  color: #6d6e71;
  background: #ffffff;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijchengg > div:nth-of-type(1) p span {
  color: #D71249;
  font-weight: 700;
  font-size: 24px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .bt-ts {
  margin-top: 40px;
  margin-left: 40px;
  color: #00904c;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zfbs {
  margin-top: 20px;
  width: 1000px;
  height: 43px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zfbs ul {
  overflow: hidden;
  position: relative;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zfbs ul li {
  position: relative;
  float: left;
  width: 102px;
  height: 42px;
  margin-left: 10px;
  border: 1px solid #DDDDDD;
  text-align: center;
  line-height: 43px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: none ;
  z-index: 1;
  background: #FFFFFF;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zfbs ul li:hover {
  border-top: 3px solid #000000;
  height: 44px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .erweima {
  border: 1px solid #DDDDDD;
  width: 1000px;
  height: 342px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .erweima .zfbewm img {
  margin-top: 40px;
  margin-left: 100px;
  height: 230px;
  width: 230px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .erweima .weixzf {
  display: none;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .erweima .weixzf img {
  margin-top: 40px;
  margin-left: 100px;
  height: 230px;
  width: 230px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zffss {
  margin-top: 20px;
  height: 130px;
  width: 1000px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zffss > div:nth-of-type(1) {
  height: 31px;
  border-bottom: 1px solid #e2e2e2;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .zffss > div:nth-of-type(2) {
  margin-top: 20px;
  width: 130px;
  height: 40px;
  border: 1px solid #55cbff;
  text-align: center;
  line-height: 40px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan > div:nth-of-type(1) {
  height: 31px;
  width: 998px;
  border-bottom: 1px solid #e2e2e2;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp {
  margin-top: 30px;
  border: 1px solid #e2e2e2;
  width: 998px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .top {
  height: 39px;
  background: #fafafa;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .top ul {
  overflow: hidden;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .top ul li {
  float: left;
  color: #909090;
  line-height: 39px;
  text-align: right;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve {
  border-top: 1px solid #e2e2e2;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div {
  margin: 18px 0 0 40px;
  overflow: hidden;
  color: #D71249;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(1) {
  float: left;
  width: 352px;
  height: 74px;
  overflow: hidden;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(1) img {
  width: 70px;
  height: 70px;
  float: left;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(1) p {
  font-size: 12px;
  width: 200px;
  float: left;
  cursor: pointer;
  color: #000000;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(1) P:hover {
  color: #0000FF;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(2) {
  margin-top: 20px;
  float: left;
  width: 132px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(3) {
  margin-top: 20px;
  width: 101px;
  float: left;
  font-size: 12px;
  color: #FFFFFF;
  background: #6cc302;
  text-align: center;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(4) {
  padding-right: 20px;
  margin-top: 20px;
  float: left;
  width: 121px;
  text-align: right;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(5) {
  margin-top: 20px;
  text-align: right;
  float: left;
  width: 95px;
  padding: 0 20px 0 0;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .songhuoqingdan .suoyoushangp .cent-mouve > div div:nth-of-type(6) {
  float: left;
  margin-top: 20px;
  width: 100px;
  margin-left: 20px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijiaodingdan {
  margin-top: 40px;
  width: 1000px;
  border: 1px solid #e2e2e2;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijiaodingdan .top-rigr {
  height: 48px;
  width: 998px;
  background: #F5F5F5;
  font-size: 12px;
  overflow: hidden;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijiaodingdan .top-rigr .left {
  padding: 0 0 0 20px;
  width: 435px;
  float: left;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijiaodingdan .top-rigr .left span {
  color: #D71249;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijiaodingdan .top-rigr .right {
  float: right;
  width: 300px;
  padding: 0 20px 0 0 ;
  overflow: hidden;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijiaodingdan .top-rigr .right span {
  float: left;
  margin-top: 20px;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijiaodingdan .top-rigr .right span:nth-of-type(2) {
  margin-top: 15px;
  font-size: 18px;
  color: #D71249;
}
.gouwuche-che .gouwuche-box .gouwuche-neirong .yes-gouwche .tijiaodingdan .top-rigr .right a {
  float: right;
  width: 130px;
  height: 48px;
  background: #D71249;
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  line-height: 48px;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list {
  margin-top: 40px;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list h2 i {
  color: red;
  font-size: 16px;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list h2 span {
  padding: 4px 10px;
  background: url(../img/xuebitu2.png) 0px -200px;
  /* 0 和-85px */
  font-size: 12px;
  line-height: 10px;
  color: #FFFFFF;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list .tuijinashangp {
  margin-top: 20px;
  width: 1000px;
  height: 252px;
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list .tuijinashangp ul {
  overflow: hidden;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list .tuijinashangp ul li {
  padding-top: 20px;
  float: left;
  width: 250px;
  height: 250px;
  border: 1px solid #d0d0d0;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list .tuijinashangp ul li a img {
  height: 145px;
  width: 145px;
  display: block;
  margin: 0 auto;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list .tuijinashangp ul li > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  display: block;
  font-size: 12px;
  padding: 0 10px;
  margin-top: 10px;
}
.gouwuche-che .gouwuche-box .gouwuche-bottom .gouwuche-bottom-list .tuijinashangp ul li > P {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: red;
}
.siji {
  width: 584px;
  height: 222px;
  position: absolute;
  border: 1px solid #000000;
  background: #FFFFFF ;
  top: 200px;
  right: 20px;
  z-index: 20000;
  padding: 20px 0 0 0;
}
.siji div {
  border: 1px solid #ccc;
  height: 180px;
  width: 120px;
  float: left;
  margin-left: 20px;
  overflow: hidden;
  overflow-x: none;
  overflow-y: auto;
}
.siji div ul {
  width: 118px;
}
.siji div ul li {
  cursor: default;
  display: block;
  width: 101.2;
  height: 18.4px;
  font-size: 12px;
  line-height: 18.4px;
}
